
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Please login to access Flipcards!</title>
  </head>
  <body>
  <h1>Have a login? Use it below! If not, please register below!</h1>
    <h2>LLogin</h2>
    <form class="" action="/Login" method="post">
      <input type="text" name="" value="Snippet">
      <input type="text" name="" value="Tags">
      <input type="Submit" name="" value="Submit">
    </form>
    </body>
</html>



<!-- Allow the user to create multiple decks of flipcards
Allow the user to create flipcards within a deck
Allow the user to edit a flipcard
Allow the user to delete a flipcard
Allow the user to start a quiz using a flipcard deck
Ideally, this quiz would show the cards randomly
When a flipcard is flipped, allow the user to choose whether they answered successfully or unsuccessfully, and record that answer -->
